---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body{
  --main-color: #f22f46;
  background-color: white;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

::selection {
  color: white;
  background: var(--main-color);
  background-color: var(--main-color);
}

@font-face {
  font-family: "SF Mono";
  src: url("../assets/fonts/SFMono.woff2") format('woff2'),
       url("../assets/fonts/SFMono.otf");
}

@font-face {
  font-family: "Druk";
  src: url("../assets/fonts/drukmedium.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Druk";
  src: url("../assets/fonts/drukwidebold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Druk";
  src: url("../assets/fonts/drukwideheavy.woff") format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Druk";
  src: url("../assets/fonts/drukwidesuper.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}

h1 {
  font-family: "Druk";
  font-size: 43px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 56px;
}

h2 {
  margin-block-start: .6em;
  margin-block-end: .5em;
}

strong {
  color: #828282;
}

h3 {
  font-family: "SF Mono";
  font-size: 14px;
  line-height: 18.2px;
  color: var(--main-color);
}

p {
  font-family: "Open Sans", sans-serif;
}

.post-list-heading::before {
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    font-family: "SF Mono", monospace;
    // font-weight: normal;
    color: var(--main-color);
    font-size: 25px;
    position: relative;
}

.post-list-heading {
  font-family: "Druk";
  font-weight: bold;
  text-transform: uppercase;
}

.site-header{
  border: none;
}

.site-title{
  font-family: "Druk";
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.trigger a {
  font-family: "SF Mono";
  font-size: 14px;
  line-height: 18.2px;
    display: inline-block;
    text-decoration-skip-ink: auto;
    position: relative;
    cursor: pointer;
    color: rgb(100, 255, 218);
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

.trigger > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  // -webkit-transition: all 0.3s ease-in-out 0s;
  // transition: all 0.3s ease-in-out 0s;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.trigger > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.home {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    // min-height: 100;
    height: 100%;
    margin: 0px auto;
    padding: 100px 0px;
}

.blurb {
  max-width: 550px;
  margin-block-end: 1.3em;
}

.center {
  text-align: center;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px; }
  @media screen and (max-width: 900px) {
    .wrapper {
      max-width: -webkit-calc(100vh - (30px));
      max-width: calc(100vh - (30px));
      padding-right: 25px;
      padding-left: 25px; }
    h1 {
      font-size: 38px;
      line-height: 44px;
    }
    .project-img {
      margin: 20px;
    }
}

.social-media-list i {
  color: var(--main-color);
  text-decoration: none;
  margin: 0 16px 0 0;
  padding: 10px;
  background-color: #fff;
  font-size: 18px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: all cubic-bezier(0.645, 0.045, 0.355, 1);
}

.social-media-list a {
  color: #fff;
  text-decoration: none;
}

.social-media-list i:hover {
  color: #fff;
  background-color: var(--main-color);
}

.site-footer p {
  font-family: "SF Mono", monospace;
  font-size: 14px;
}

.tag {
  font-family: "SF Mono", monospace;
  font-size: 14px;
  line-height: 48px;
  background-color: #f0f0f0;
  padding: 10px;
  white-space: nowrap;
}

.post-meta {
  font-family: "SF Mono", monospace;
  color: var(--main-color);
  font-size: 14px;
}

.project-title {
  font-family: "Druk";
  font-weight: bold;
  margin-block-start: .2em;
}

.project-description {
  padding-bottom: 10px;
}

.project {
  overflow: hidden;
  padding: 60px 0;
}

.project-content {
  max-width: 400px;
}

.project-content strong {
  font-weight: 800;
  color: #000;
}

.project-img {
  max-width: 400px;
  position: relative;
  vertical-align: middle;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: all cubic-bezier(0.645, 0.045, 0.355, 1);
}

.project-img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  mix-blend-mode: hue;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: all cubic-bezier(0.645, 0.045, 0.355, 1);
}

.project-img:hover:after {
  opacity: 0;
}

.project:nth-child(even) .project-img {
  float: right;
  margin: 0 0 0 60px;
}

.project:nth-child(odd) .project-img {
  float: left;
  margin: 0 60px 0 0;
}

.project:nth-child(even) .project-content {
  float: left;
}

.project:nth-child(odd) .project-content {
  float: right;
}

@media screen and (max-width: 900px) {
  .project:nth-child(odd)  .project-img {
    float: left;
    margin: 0 0 20px 0;
  }
  .project:nth-child(even)  .project-img {
    float: left;
    margin: 0 0 20px 0;
  }
}
