---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="hero">
    <h3>> Hello World! It's nice to meet you.</h3>
    <!-- <h1>Ian Mah.</h1> -->
    <h1>I'm Ian Mah.<br> <strong>Aspiring Developer.</strong></h1>
    <div class="blurb">{{ content }}</div>
      {%- include social.html -%}
  </div>
</div>

<div>
  {%- for page in site.pages -%}
    {%- if page.title -%}
    <div class="home">
      <h2 class="post-list-heading">{{ page.title | escape }}</h2>
      {% include_relative {{page.title}}.html %}
    </div>
    {%- endif -%}
  {%- endfor -%}
</div>
