---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="hero">
    <h3>> Hello World! It's nice to meet you.</h3>
    <!-- <h1>Ian Mah.</h1> -->
    <h1>I'm Ian Mah.<br> <strong>Aspiring Developer.</strong></h1>
    <div class="blurb">{{ content }}</div>
      {%- include social.html -%}
  </div>
</div>

<div class="home">
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Projects" }}</h2>
    <div class="post-list">
      {%- for post in site.posts -%}

      <div class="project">
        <div class="project-img">
            <img src="../assets/projects/{{post.slug}}.png">
        </div>
        <div class="project-content">
          <span class="post-meta"> > {{ post.description }}</span>
          <h2 class="project-title">{{ post.title | escape }}</h2>
          <!-- <strong>Prompt:</strong> {{post.prompt}} -->
          <div class="project-description">{{ post.content }}</div>
          {% for tag in post.tags %}
          <span class="tag">{{tag}}</span>
          {% unless forloop.last %}&nbsp;{% endunless %}
          {% endfor %}
        </div>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </div>
      {%- endfor -%}
    </div>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}
</div>
