---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="hero">
    <h3>> Hello World! It's nice to meet you.</h3>
    <!-- <h1>Ian Mah.</h1> -->
    <h1>I'm Ian Mah.<br> <strong>Aspiring Developer.</strong></h1>
    <div class="blurb">{{ content }}</div>
      {%- include social.html -%}
  </div>
</div>

<div>
  {% assign i = 0 %}
  {% assign sorted_pages = site.pages | sort:"order" %}
  {%- for page in sorted_pages -%}
    {%- if page.title -%}
    {% assign i = i | plus:1 %}
    <div class="home" id="{{page.title}}">
      <div style="clear: both">
        <!-- <h2 class="post-list-counter" style="float: left">0{{i}}.</h2> -->
        <h2 class="post-list-heading" style="float: right">{{ page.title | escape }}</h2>
      </div>
      {% include_relative {{page.title}}.html %}
    </div>
    {%- endif -%}
  {%- endfor -%}
</div>
